<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AKSHAY K M</a>
  <a class= "navbar-brand navbar-social" href="https://www.linkedin.com/in/kmakshay/" target="_blank">linkedIn</a>
  <a class= "navbar-brand navbar-social" href="mailto:akshaykm.mec@gmail.com" target="_blank">email me</a>
  <a class= "navbar-brand navbar-social" href="https://github.com/akkm313" target="_blank">github</a>
  
</nav>
<input type="hidden" #selection>
<div class="container d-flex flex-column">
<div class="row">
 <div class="col-md-4"> 
<img src="/assets/8bitprofile.png" (click)="selection.value = 'aboutme'" class="img-responsive">
</div>

<div class="col-md-6">
  <div class="row">
<div class="terminal" [ngSwitch]="selection.value" >
<pre *ngSwitchDefault> Welcome, click on each icon to know more. </pre>
<pre *ngSwitchCase="'aboutme'">Hi, I'm Akshay.</pre>
<pre *ngSwitchCase="'aboutme'">I am a CS Master's student at UT Dallas.</pre>
<pre *ngSwitchCase="'aboutme'">I like to code, read and exercise.</pre>
<pre *ngSwitchCase="'aboutme'">Here is my <a href="assets/Akshay_Resume_Aug_22.pdf"target="none" >resume</a>.</pre>
<pre *ngSwitchCase="'utd'">Masters in computer science (2021-'23').</pre>
<pre *ngSwitchCase="'utd'">3.94 CGPA.</pre>
<pre *ngSwitchCase="'utd'">Coursework in algorithms, databases, web programming, OS.</pre>
<pre *ngSwitchCase="'utd'">Employed as Student Web developer with the University.</pre>
<pre *ngSwitchCase="'deloitte'">Business & technology analyst with Deloitte from 2018-'21.</pre>
<pre *ngSwitchCase="'deloitte'">Worked with Angular, React, Java, SQL.</pre>
<pre *ngSwitchCase="'deloitte'">Developed custom angular applications.</pre>
<pre *ngSwitchCase="'deloitte'">Performed complex 3rd party integrations and <br> legacy system upgrades.</pre>
<pre *ngSwitchCase="'tech'"> 2+ years professional experience with Angular</pre>
<pre *ngSwitchCase="'tech'"> Learnt React, Node.js as part of Web Programming <br> coursework and Summer Internship. </pre>
<pre *ngSwitchCase="'tech'"> 5+ yrs Java Programming </pre>
<pre *ngSwitchCase="'tech'"> Multiple internships working with PHP, C#, SQL, HTML etc. </pre>
<pre *ngSwitchCase="'paycom'"> Summer Internship as a Software Development Intern </pre>
<pre *ngSwitchCase="'paycom'"> Developed a Custom rich text editor using React and PHP.</pre>
<pre *ngSwitchCase="'paycom'"> Built an interview Scheduler app using Node.js and React.</pre>
<pre *ngSwitchCase="'paycom'"> Completed training in C#, SQL and Web development.</pre>
</div>
</div>
<div class="row "><p class="heading blink blink-one">OPEN FOR FULL TIME ROLES FROM MAY 2023</p> </div>
</div>
<div class="col-md-2 click-tech">
  <div class="row">
   <p class="heading"> MY TECH STACK </p>
    </div>
 <div class="row">
  <img src="/assets/angular.png" (click)="selection.value = 'tech'" class="img-tech">
  <img src="/assets/react.png"  (click)="selection.value = 'tech'" class="img-tech">
 
  </div>
<div class="row">
  <img src="/assets/java.png"  (click)="selection.value = 'tech'" class="img-tech">
  <img src="/assets/node.png"  (click)="selection.value = 'tech'" class="img-tech">
  </div>
  <div class="row">
    <img src="/assets/sql.png"  (click)="selection.value = 'tech'" class="img-tech">
    <img src="/assets/mongo.png"  (click)="selection.value = 'tech'" class="img-tech">
    </div>
    <div class="row">
      <img src="/assets/php.png"  (click)="selection.value = 'tech'" class="img-tech">
      <img src="/assets/html.png"  (click)="selection.value = 'tech'" class="img-tech">
      </div>

 </div> 

</div>

<div class="row">
  <div class="col-md-4">
  <img src="/assets/utd.png" class="img-responsive" (click)="selection.value = 'utd'">
  </div>
  <div class="col-md-4">
    <img src="/assets/deloitte.png" class="img-responsive" (click)="selection.value = 'deloitte'">
    </div>
    <div class="col-md-4">
      <img src="/assets/paycom1.png" class="img-responsive" (click)="selection.value = 'paycom'">
      </div>
    
 </div> 

</div> 

 
     
  









